body, html {
  background-image: url(img/pexels-arthouse-studio-4344876.webp);
  background-size: cover;
  background-image: no-repeat;
  height: 100%;
  width: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
 

}

h2{
    text-align: center;
}

.container {
    
    line-height: 30px;
    align-items: center;
    width: auto;
}

.inputCar{
    display: flex;
    flex-direction: column;
    background-color: #111;
    opacity: 0.8;
    color: #fff;
    height: 100%;
    width: 300px;
   
  
}



.inputWheels{
    display: flex;
    flex-direction: row;
    background-color: #111;
    opacity: 0.8;
    color: #fff;
    width: 100%;
    height: 300px;
   

}

.btn{
    margin-bottom: 20px;
}

.btn-wheels{
  margin-left: 45%;
  margin-top: 25px;
}

.btn-car{
    margin-top: 20px;
    margin-left: 33%;

}

label{
    margin-top: 25px;
}

.invalid-feedback{
    margin: 0px;
    padding: 0px;
    position:absolute;
}



#table{

    color: white;
    width: 100%;
    font-size: 10px;
    
   
}

#table, th, td, tr{
    
    color: white;
    border: 2px solid white;
    white-space: nowrap;
    

}

.table-container{
    width: 758px;
    background-color: #111;
    opacity: 0.8;
    color: #fff;
    height: 100%;
}

#btnNewCar{
    margin-left: 45%;
    margin-top: 20px;
}

@media(max-width: 767px){
    .btn-wheels{
        margin-left: 40%;
   
      }


.inputWheels{
        
    height: 100%;
    margin-top: 100px;
    
    }

}